* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
    /* background: linear-gradient(#000000, #393939); */
    /* background: linear-gradient(#ffa425, #de8912); */
    background: linear-gradient(#1e0f69, #0D0630);

}

body {
  height: 100vh;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
